/* start global rules */
:root{
    --main-color: #224292;
    --main-color-alt: #1787e0;
    --second-color:#c0392b; 
    --color-near-white:#f2f2f2;
    --main-transition: 0.5s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    scrollbar-base-color: var(--color-near-white);
    scrollbar-color: var(--second-color);
    background-color: white;
    color: #2e2e2e;
}
.popcont {
    position: fixed;
    right: 5px;
    bottom: 50%;
    transform: translatey(50%);
    z-index: 8;
}
.popcont .popphone {
    
    background-color: #ddd;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    align-items: center;
    text-align: center;
    
}
.popcont i {
    
    align-items: center;
    text-align: center;
    line-height: 50px;
}
.popcont .headphone i {
    color: black;
}
.popcont .popwhats i {
    color: #4caf50;
}
.popcont .popface i {
    color: #1787e0;
}
.popcont .popmail i {
    color: #c0392b;
}

::-webkit-scrollbar {
    width: 15px;
    transition: 3s;
}
::-webkit-scrollbar-track {
    background-color: var(--color-near-white);
    box-shadow: 0 0 10px #aaa inset;
    width: 15px;
    transition: 3s;
    position: relative;
}
::-webkit-scrollbar-thumb {
    background-color:#c03a2b6c;
    border-radius: 10px;
    transition: 3s;
    position: absolute;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-color);
    transition: 3s;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width:750px
    }
}
@media (min-width: 992px) {
    .container {
        width:970px
    }
}
@media (min-width: 1200px) {
    .container {
        width:1170px
    }
}
/* popup */
.main-title {
  text-transform: uppercase;
  margin: 0 auto 50px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  margin-top: 30px;
  z-index: 1;
  transition: var(--main-transition);
  cursor: default;
}
@media (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/* End global rules */
/* Start header and nav  */
    .head-address i {
        display: inline-block;
        font-size: 20px;
        color: var(--main-color);
        margin-right: 15px;
        margin-top: 15px;
    }
    .head-address .Home-address {
        display: inline-block;
        font-size: 20px;
        margin: 10px;
        padding: 0;
        color: var(--main-color-alt);
    }
    .head-phone i{
        display: inline-block;
        font-size: 20px;
        color: var(--main-color);
        margin-right: 15px;
        margin-top: 15px;
    }
    .head-phone .home-phone{
        display: inline-block;
        font-size: 20px;
        margin: 10px;
        padding: 0;
        color: var(--main-color-alt);
    }
    @media (max-width: 768px) {
    .head-address .Home-address,
    .head-phone .home-phone {
        font-size: 16px;
    }
}
    .header .home-help {
        background-color: var(--color-near-white);
    }
    .header .home-help .container {
        display: flex;
        justify-content: flex-start;
        
    }
    .heading-logo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .heading-logo .logo-nano {
    height: 185px;
    object-fit: cover;
    }
    .heading-logo h1 {
        position: relative;
        font-size: 48px;
        margin: 0;
        color: var(--main-color);
        cursor:default;
        animation: Up-and-down 5s linear infinite;
    }
    @media (max-width: 768px) {
    .heading-logo a,
    .heading-logo .logos{
        margin:10px 9%
    }
    .heading-logo h1 {
        font-size: 28px;
        flex-wrap: wrap;
        margin: 15px 18%;
    }
    .heading-logo .logos {
        display: none;
    }
}
@media (max-width: 992px) {
    .heading-logo .logos {
        display: none;
    }
}
/* End header  */
.nav {
    background-color: var(--main-color-alt);
    /* overflow: hidden; */
    z-index: 999999999999999999999;
    width: 100%;
    
}
.nav .span-nav {
    width: 30px;
    border-bottom: 5px solid var(--second-color);
    margin: 5px 0;
    display: none;
}
.ul-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.ul-nav li {
    height: 50px;
    
}
.ul-nav li a {
    display: flex;
    justify-content: center;
    color: var(--color-near-white);
    font-size: 22px;
    font-weight: bold; 
    line-height: 50px;
    align-items: center;
    position: relative;
    color: var(--color-near-white);
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;   
}
@media (max-width: 768px) {
    .ul-nav li a {
        font-size: 18px;
        padding: 3px;
        display: block;
        border-bottom: 2px solid var(--main-color);
    }
    .ul-nav {
        display:none;
    }
    .nav .span-nav {
        display: block;
    }
    .nav .disnav:hover .ul-nav {
        display: block;
    }
    .sticky {
        right: 0px;
        width: 97%;
    }
}

@media (max-width: 992px) {
    .ul-nav li a {
        font-size: 15px;
        padding: 0 3px;
    }
}

.ul-nav .Products {
    color: var(--color-near-white);
    margin: 0 7px 0 0;
    position: relative;
}
.olol {
    display: none;
    position: relative;
    background-color:  #068dfc;
    transition: var(--main-transition);
    z-index: 9999999;
    height: 245px;
    width:300px;
    border-radius: 10px;
    align-items: center;
}
.olol .aololo {
    position: absolute;
    align-items: center;
    

}
.olol .aololo a{
    display: block;
    color: var(--color-near-white);
    font-size: 18px;
    width: 299px;
    font-weight: bold; 
    text-align: center;
    line-height: 1.7;
    margin: 5px auto;
    border-bottom: 2px solid  var(--color-near-white);
    padding: 5px 40px;
}
.ul-nav .Products:hover .olol {
    display: block;
}
@media (max-width :768px) {
    .ul-nav .Products:hover .olol{
        display: none;
    }
}

.sticky {
    background-color: #068dfc;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    transition: var(--main-transition);
}
.sticky .ul-nav li a {
    color: white;
}
.ul-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.ul-nav > li > a:hover {
    color: var(--main-color);
    background-color: #0b8bf38c;
}
.ul-nav > li > a:hover::before {
    left: 0;
}
/* End header and nav  */
/* start slider */
.slider-csr {
    padding: 30px 0;
    perspective: 500px;
    transition: var(--main-transition);
}
.slideshow-container {
  max-width: 1900px;
  max-height: 1000px;
  position: relative;
  margin: auto;
  perspective: 500px;
  transition: var(--main-transition);
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.all-sliders {
    height: 750px;
    background-size: cover;
    position: relative;
}
.company-img {
    background-image: url(../img/company.jpg);
    transition: var(--main-transition);
    
}
.factory-img {
    background-image: url(../img/Factory.jpg);
    transition: var(--main-transition);
}
.network-img {
    background-image: url(../img/Networks.jpg);
    transition: var(--main-transition);
}
.market-img {
    background-image: url(../img/market.jpg);
    transition: var(--main-transition);
}
.resturant-img {
    background-image: url(../img/resturant.jpg);
    transition: var(--main-transition);
}
.storage-img {
    background-image: url(../img/Storage.jpg);
    transition: var(--main-transition);
}
.vege-img {
    background-image: url(../img/vege.jpg);
    transition: var(--main-transition);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color:var(--main-color-alt);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  transform: translateY(-50%);
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 5px 0 0 5px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.7);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 48px;
  position: absolute;
  width: 100%;
  height: 750px;
  line-height: 750px;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
}
@media (max-width: 992px) {
    .text{
        font-size: 26px;
    }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #2e2e2e;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

/* end slider */
/* networks  */
.netw {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    align-items: center;
}
.netw img{
    width: 500px;
}
.netw .serverP{
    font-size: 18px;
    font-weight: 600;
    color: #666;
    line-height: 1.7;
    margin: 25px;
}
@media (max-width : 768px) {
    .netw {
        display: block;
        margin: auto;
    }
    .netw img {
        width: 250px;
        margin: 10px 10%;
    }
    .netw .serverP {
        font-size: 14px;
    }
}
/* end networks  */
/* start category  */
.category {
    
    padding-top: 30px;
    background-color: var(--color-near-white);
}
.cat-boxes {
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top: 30px;

}
.cat-boxes .card {
    height: 220px;
    width: 43%;
    background-color: white;
    margin: 30px 39px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px; */
    perspective: 1000px;
    transition: all var(--main-transition) ease-in-out;
}

.cat-boxes .card .box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: nowrap;    
}
.cat-boxes .card .box a {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    flex-wrap: nowrap;    
}
.cat-boxes .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color-alt);
    top: 0;
    left: -100%;
    border-radius: 20px;
    transition: var(--main-transition);
}
.cat-boxes .box:hover::before {
    left: 0;

}
.cat-boxes .box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color-alt);
    bottom: 0;
    right: -100%;
    border-radius: 20px;
    transition: var(--main-transition);
}
.cat-boxes .box:hover::after {
    right: 0;
}
.card:hover .box {
    /* transform: translate(15px,15px); */
    transform: translateZ(100px);
}
.cat-boxes .box a img {
    height: 170px;
    padding-right: 25px;
    margin-top: 16px;
    cursor: pointer;
    width: 170px;
}
.cat-boxes .box a .words {
    padding-right: 50px;
    padding-left: 20px;
    cursor: pointer;
}
.cat-boxes .box a h2 {
    padding-left: 10px;
    font-size: 26px;
    color: var(--main-color);
    cursor: pointer;
}
.cat-boxes .box p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.8;
    color: #333;
    cursor: pointer;
}
@media (max-width: 768px){
    .cat-boxes .card {
        width: 94%;
        height: 180px;
        margin-left: 1%;
        margin-right: 4%;
    }
    .cat-boxes .card .box a img{
        height: 100px;
        padding-right: 0px;
        align-items: center;
        transform: translate(-15%, 27%);
    }
    .cat-boxes .card .box a .words {
        padding: 10px 20px;
    }
    .cat-boxes .card .box a h2 {
        padding-left: 5px;
        font-size: 16px;
        font-weight: bold;
    }
    .cat-boxes .card .box a p {
        font-size: 11px;
        font-weight: 600;
        line-height: 1.7;
    }
}
/* End category  */
/* start offer */
.offers {
    margin: 100px 0;

}
.shuffle-filter li {
    display: inline-block;
    border: 2px solid #d4cccc;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0 5px 10px;
    color: #a7a7a7;
    cursor: pointer;
}
.shuffle-filter li.selected {
    background-color: var(--main-color-alt);
    color: #fff;
    border-color: var(--main-color-alt);
}
.suffle-container {
    margin-top: 50px;
    overflow: hidden;
}
.suffle-container > li {
    width: 31.6666666%;
    float: left;
    margin-bottom: 20px;
    margin-left: 1%;
    position: relative;
    transition: all 1s ease-in-out;
}
@media (max-width: 768px) {
    .suffle-container > li {
        float: none;
        width: auto;
    }
}
.suffle-container > li img {
    width: 100%;
    height: 270px;
}
.suffle-container > li .over {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 100%;
  line-height: 270px;
  color: #f2f2f2;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color:rgba(0, 0, 0, .6) ;
  display: none;
}
.suffle-container > li:hover .over {
    display: block;
  width: 100%;
  transition: all 1s ease-in-out;
  animation-name: width;
  animation-duration: 0.75s;
  animation-direction: alternate;
}
/* end offer */
/* start footer  */
.up-footer {
    background-color: var(--main-color-alt);
    align-items: center;
    border-radius: 10px;

}
.up-footer .container {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: nowrap;
}

.up-footer .aboutus {
    width: 40%;
    color: var(--color-near-white);
    line-height: 1.18;
    margin-left: 15%;
}
.up-footer .aboutus p {
    line-height: 1.5;
    font-size: 18px;
}
.up-footer .aboutus h2 {
    font-size: 30px;
}
.up-footer .followus {
    color: var(--color-near-white);
    line-height: 1.18;
    width: 40%;
    font-size: 18px;
}
.up-footer .followus h2 {
    font-size: 30px;
}
.up-footer .followus a {
    display: block;
    letter-spacing: 2px;
    color: var(--color-near-white);
    margin: 15px 0;
    padding: 10px 0;
}
.up-footer .followus i {
    padding: 0 3px;
    font-size: 20px;
    display: inline-block;
}
.up-footer .followus p {
    display: inline-block;
}
.up-footer .followus div {
    margin: 10px 0;
    
}
.up-footer .mapouter {
    width: 500px;
    height: 300px;
    margin: 15px auto;
}
.up-footer .mapouter iframe {
    width: 100%;
    height: 100%;
}
#gmap_canvas{
    width: 100%;
    height: 100%;
}
    .gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 100%
}
.downfooter {
    background-color: var(--main-color);
    height: 50px;
    align-items: center;
    border-radius: 10px;
}
.downfooter .copyright {
    text-align: center;
    direction: ltr;
    color: var(--color-near-white);
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 50px;
}
@media (max-width: 768px) {
    .up-footer .container {
        display: block;
    }
    .up-footer .aboutus,
    .up-footer .followus{
        margin: auto;
        width: 100%;
        align-items: center;
    }
    .up-footer .mapouter {
        width: 300px;
        height: 200px;
        margin: 15px auto;
    }
    .up-footer .mapouter iframe {
        width: 100%;
        height: 100%;
    }
    #gmap_canvas{
        width: 100%;
        height: 100%;
    }
    .up-footer .aboutus p {
        font-size: 13px;
        
    }
    .up-footer .followus a {
        font-size: 13px;
    }
    .downfooter .copyright {
        font-size: 12px;
        letter-spacing: 0;
    }
}
/* end footer  */
/* About US  */
.descraption {
    font-size: 22px;
    line-height: 1.8;
    font-weight: bold;
    text-align: center;
    color: #555;
    padding-bottom: 15px;
}
@media (max-width: 768px) {
    .descraption {
        font-size: 16px;
    }
}
/* start video  */
.videos-over {
    max-width: 100%;
    position: relative;
    transition: all 1s ease-in-out;
    height: auto;
    margin: 10px 12.5%;
    align-items: center;
}
@media (max-width: 768px){
    .videos-over {
        margin: 20px -.5%;
    }
}
.videos-over .over {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  color: #f2f2f2;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid rgba(59, 59, 59, 0.5);
  border-radius: 40px;
  background-color:rgba(59, 59, 59, 0.5) ;
  display: none;
}
.videos-over:hover .over {
    display: block;
  height: 50px;
  transition: all 1s ease-in-out;
  animation-name: height;
  animation-duration: 0.75s;
  animation-direction: alternate;
}
.vd {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--main-color-alt);
    border-radius: 25px;
}
/* end video  */
/* End About US  */
/* Connect US  */
/* start connect-us   */
.main-bransh{
    margin-bottom: 100px;
}
.main-bransh .frist {
    text-align: center;
    font-size: 39px;
    font-weight: bold;
    color: var(--main-color);
}
.main-bransh .address {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #555;
}
.main-bransh .mapouter {
    margin: 20px auto;
    width: 600px;
    height: 400px;
}
.main-bransh .mapouter .gmap_canvas {
    width: 100%;
    height: 100%;
}
.flex-cont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transition: var(--main-transition);
}
.main-bransh .facebook {
    text-align: center;
    color: var(--main-color);
}
.main-bransh .whatsapp {
    text-align: center;
    width: 20%;
    margin-right:0 ;
}
.main-bransh .whatsapp i {
    color: #4caf50;
}
.main-bransh .phone {
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 80px;
}
@media(max-width: 768px){
    .main-bransh .facebook i {
        font-size: 40px;
    }
    .main-bransh .whatsapp i {
        font-size: 40px;
    }
    .main-bransh .phone i {
        font-size: 40px;
    }
    .main-bransh .phone{
        width:40px;
    }
    .main-bransh .mapouter{
        width: 250px;
        height: 100px;
    }
    .main-bransh .mapouter .gmap_canvas {
        width: 100%;
        height: 100%;
    }
    
}
/* .main-bransh .phone:hover {
    animation: display 0.5s linear forwards;

} */
.main-bransh .phone i {    
    color: #555;
    cursor: pointer;
}
/* .main-bransh .phone::before {
    position: absolute;
    content: "01014005493";
    font-size: 33px;
    font-weight: bold;
    color: #555;
    margin: 14px;
    opacity: 1;
    width: 0;
    transition: var(--main-transition);
    top: 7px;
    right: 73px
}
.flex-cont .phone i:hover .home-phone {
    animation-name: dispaly;
    animation-duration: .5s;

} */
.mapouter{
    margin: auto;
}
@media (max-width: 768px) {
    /* .main-bransh .phone::before{
        font-size: 25px;
        top: -12px;
        margin: 14px 0px;
        right:40px
    } */
}
/* @keyframes display {
    0%{
        width: 80px;
    }
    100% {
        width: 275px;
    }
}
@media (max-width: 768px) {
    @keyframes display {
    0%{
        width: 40px;
    }
    100% {
        width: 182px;
    }
}
} */
/* end connect-us   */
/* start services  */
.our-services .services {
    font-size: 28px;
    font-weight: 500;
    color: #555;
    text-align: center;
    line-height: 1.93;
}
@media (max-width: 768px) {
    .our-services .services {
        font-size: 20px;
        color: #333;
        line-height: 1.6;
    }
}
/* end services  */
/* products  */
/* start offer */
.offers {
    margin: 50px 0;
    padding: 50px 0;
    background-color: #f5f5f5;
}
.shuffle-filter li {
    display: inline-block;
    border: 2px solid #d4cccc;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0 5px 10px;
    color: #777;
    cursor: pointer;
}
.shuffle-filter li.selected {
    background-color: var(--main-color-alt);
    color: #fff;
    border-color: var(--main-color-alt);
}
.suffle-container {
    margin-top: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top: 30px;
}
.suffle-container > li {
    width: 26.6666666%;
    max-height: 555px;
    /* float: Right; */
    margin-bottom: 45px;
    margin-top: 35px;
    margin-right: 3%;
    margin-left: 3%;
    position: relative;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px; */
    perspective: 1000px;
    transition: all var(--main-transition) ease-in-out;
    
}

@media (max-width: 768px) {
    .suffle-container {
        margin-bottom: 50px;
    }
    .suffle-container > li {
        float: none;
        width: 80%;
        margin: 25px;
        margin-bottom: 50px;
    }
}
.suffle-container > li img {
    width: 100%;
    height: 230px;
    border-radius: 20px;
}
.suffle-container  li .Card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.suffle-container > li .Card .Model {
    margin: 10px auto;
    display: block;
    align-items: center;
    text-align: center;
    padding: 0;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
}
.suffle-container > li .Card .Des {
    margin: 10px auto;
    display: block;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.6;
    color: #666;
    /* transition: var(--main-transition); */
    height: 200px;
    overflow: hidden;
}
.suffle-container > li .Card .order-now{
    display:block;
    margin: 15px auto;
    color: white;
    background-color: var(--main-color-alt);
    border: 4px solid var(--main-color-alt);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}
/* .suffle-container > li:hover .Des {
    height: 154px;
    transition: 1.5s;
} */
/* .suffle-container > li:hover{
    transform: translateY(-40px);
} */
.suffle-container  li:hover .Card {
    transform: translateZ(100px)
}
/* end offer */
/* START TESTMONIAL  */
.testimonial {
  background: url(../img/testimonial-background.jpg);
  background-size: cover;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 80px 0;
}
.testimonial .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, .5);
  color: #fff;
}
.slideshow-container-testmonial {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.slideshow-container-testmonial q {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.8;
}
.slideshow-container-testmonial p {
    font-size: 30px;
    font-weight: bold;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 768px) {
  .slideshow-container-testmonial q,.slideshow-container-testmonial p {font-size: 20px}
}
/* END TESTMONIAL  */
/* animation list  */
@keyframes Up-and-down {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}
@keyframes width{
  from{
    width: 0%;
  }
  to{
    width:100%
  }
}
/* animation list end */